<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Password reinitialisation</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }
    .container {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin: 0 auto;
    }
    h1 {
      color: #333;
    }
    p {
      font-size: 16px;
      color: #555;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    .footer {
      margin-top: 20px;
      font-size: 12px;
      color: #888;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Password reinsialisation</h1>
  <p>Hello {{name}},</p>
  <p>We received a password change request. Use the following code to reinitialise your password:</p>
  <p>Your reinisialisation code is <strong>{{token}}</strong></p>
  <p>If you did not request a password change , ignore this email.</p>
  {{> signature}}
</div>
</body>
</html>
